.navbar-brand {
  color: #ffeb3b;
  font-size: 45px;
}

nav {
  background-color: #333333;
  font-family: Lexend;
  height: 150px;
}

ul a.nav-link {
  font-size: 30px;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffeb3b;
}

.w-70 {
  width: 65%;
}

/* .highlight {
  color: #ffeb3b;
  font-style: italic;
  background-color: #333333;
  width: fit-content;
} */

/* .hero {
  height: 400px;
} */

.btn {
  background-color: #3f51b5;
  font-family: Lexend;
  color: #ffeb3b;
  font-size: 30px;
  padding: 5px 102.5px;
}

.btn:hover {
  background-color: #3f51b5;
  color: #ffeb3b;
}

/* .carousel {
  position: relative;
}
.carousel img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.navbar-toggler-icon {
  background-image: url("../assets/icons8-hamburger-button-50.png");
}

.navbar-toggler,
navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.no-outline {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.navbar-collapse {
  background-color: #333333;
}

li > a {
  width: fit-content;
}

.fs-60 {
  font-size: 60px;
}

.search {
  height: 52px;
  border-color: #3f51b5;
  border-width: 4px;
  border-style: solid;
  background-color: #d9d9d9;
  min-width: 200px;
}

span {
  font-family: Lexend;
  font-weight: bold;
}

.filter-icon {
  display: inline-block;
  transform: translateY(3px);
}

.search-icon {
  display: inline-block;
  transform: translateY(2px);
}

label{
  transform: translateX(20px);
}